<header>
  <div class="header-logo">
    <a href="/">KajiApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">KajiAppとは</a>
    </li>
  </ul>
</header>

<div class="about-main">
  <h2>KajiAppってなによ</h2>
  <p>
    SNSサービスをつくってみたぜ。
  </p>
</div>
