<header>
  <div class="header-logo">
    <a href="/">KajiApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">KajiAppとは</a>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>つぶやきで、世界はつながる</h2>
    <p>つぶやいていこうぜ</p>
  </div>
</div>
